### Задача 1 Связанные списки
Напишите функцию (пусть она будет называться **reverse_linked_list**), которая разворачивает связный список. На вход она принимает головную ноду, а на выход отдаёт хвостовую ноду исходного списка, но только теперь если попробовать пройтись по ней, она будет новой головной.

In [1]:
class Node(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"[Node with value {self.value}]"

def print_linked_list(head):
    cur = head
    while cur is not None:
        print(cur)
        cur = cur.next

In [2]:
def reverse_linked_list(head):
    cur = head
    new = None
    while cur is not None:
        new = Node(cur.value, new)
        cur = cur.next
    return new

In [3]:
h, a, b, c, d = Node(7), Node(2), Node(3), Node(6), Node(5)

h.next = a
a.next = b
b.next = c
c.next = d

In [4]:
print_linked_list(h)
h = reverse_linked_list(h)
print("---")
print_linked_list(h)

[Node with value 7]
[Node with value 2]
[Node with value 3]
[Node with value 6]
[Node with value 5]
---
[Node with value 5]
[Node with value 6]
[Node with value 3]
[Node with value 2]
[Node with value 7]

### Задача 2 Пузырьки
Сортировка пузырьком.
Вам предлагается написать функцию, которая будет на вход получать голову несортированного связного списка, а на выход возвращать голову отсортированного.

Пример реализации сортировки пузырьком:

In [5]:
l = [2, 4, 1, 1, 2, 0]

for i in range(len(l)):
    for j in range(i, len(l)):
        if l[i] > l[j]:
            l[i], l[j] = l[j], l[i]

print(l)

[0, 1, 1, 2, 2, 4]

Решение:

In [6]:
def next_node(head, cur):
    head2 = head
    while head2 is not None:
        if cur > head2.value:
            cur, head2.value = head2.value, cur
        head2 = head2.next
    return cur

def bubble_sort(head):
    cur = head
    while cur is not None:
        cur.value = next_node(cur.next, cur.value)
        cur = cur.next

In [7]:
print_linked_list(h)
bubble_sort(h)
print()
print_linked_list(h)

[Node with value 5]
[Node with value 6]
[Node with value 3]
[Node with value 2]
[Node with value 7]

[Node with value 2]
[Node with value 3]
[Node with value 5]
[Node with value 6]
[Node with value 7]

### Задание 3 в процессе

**1)** Выясните, сколько в среднем выходил полный счёт по пятницам на ланч у курящих мужчин (датасет tips)

In [8]:
import pandas as pd

df = pd.read_csv("./tips.txt")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
view = df[(df["sex"] == "Male") & (df["smoker"] == "Yes") & (df["day"] == "Fri") & (df["time"] == "Lunch")]
view

     total_bill   tip   sex smoker  day   time  size
220       12.16  2.20  Male    Yes  Fri  Lunch     2
222        8.58  1.92  Male    Yes  Fri  Lunch     1
224       13.42  1.58  Male    Yes  Fri  Lunch     2

In [10]:
m = view["total_bill"].mean()

print('В среднем полный счет по пятницам у курящих мужчин составляет', m)

В среднем полный счет по пятницам у курящих мужчин составляет 11.386666666666668

**2)** Загрузите iris и посмотрите разбросы по всем числовым значениям для всех трёх классов цветов (датасет iris)

In [12]:
iris_df = pd.read_csv("./iris.txt")
iris_df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa