### Задача 1 Связанные списки
Напишите функцию (пусть она будет называться **reverse_linked_list**), которая разворачивает связный список. На вход она принимает головную ноду, а на выход отдаёт хвостовую ноду исходного списка, но только теперь если попробовать пройтись по ней, она будет новой головной.

In [1]:
class Node(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"[Node with value {self.value}]"

def print_linked_list(head):
    cur = head
    while cur is not None:
        print(cur)
        cur = cur.next

In [2]:
def reverse_linked_list(head):
    cur = head
    new = None
    while cur is not None:
        new = Node(cur.value, new)
        cur = cur.next
    return new

In [3]:
h, a, b, c, d = Node(7), Node(2), Node(3), Node(6), Node(5)

h.next = a
a.next = b
b.next = c
c.next = d

In [4]:
print_linked_list(h)
h = reverse_linked_list(h)
print("---")
print_linked_list(h)

[Node with value 7]
[Node with value 2]
[Node with value 3]
[Node with value 6]
[Node with value 5]
---
[Node with value 5]
[Node with value 6]
[Node with value 3]
[Node with value 2]
[Node with value 7]

### Задача 2 Пузырьки
Сортировка пузырьком.
Вам предлагается написать функцию, которая будет на вход получать голову несортированного связного списка, а на выход возвращать голову отсортированного.

Пример реализации сортировки пузырьком:

In [5]:
l = [2, 4, 1, 1, 2, 0]

for i in range(len(l)):
    for j in range(i, len(l)):
        if l[i] > l[j]:
            l[i], l[j] = l[j], l[i]

print(l)

[0, 1, 1, 2, 2, 4]

Решение:

In [6]:
def next_node(head, cur):
    head2 = head
    while head2 is not None:
        if cur > head2.value:
            cur, head2.value = head2.value, cur
        head2 = head2.next
    return cur

def bubble_sort(head):
    cur = head
    while cur is not None:
        cur.value = next_node(cur.next, cur.value)
        cur = cur.next

In [7]:
print_linked_list(h)
bubble_sort(h)
print()
print_linked_list(h)

[Node with value 5]
[Node with value 6]
[Node with value 3]
[Node with value 2]
[Node with value 7]

[Node with value 2]
[Node with value 3]
[Node with value 5]
[Node with value 6]
[Node with value 7]

### Задание 3

**1)** Выясните, сколько в среднем выходил полный счёт по пятницам на ланч у курящих мужчин (датасет tips)

In [8]:
import pandas as pd

df = pd.read_csv("./tips.txt")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
view = df[(df["sex"] == "Male") & (df["smoker"] == "Yes") & (df["day"] == "Fri") & (df["time"] == "Lunch")]
view

     total_bill   tip   sex smoker  day   time  size
220       12.16  2.20  Male    Yes  Fri  Lunch     2
222        8.58  1.92  Male    Yes  Fri  Lunch     1
224       13.42  1.58  Male    Yes  Fri  Lunch     2

In [10]:
m = view["total_bill"].mean()

print('В среднем полный счет по пятницам у курящих мужчин составляет', m)

В среднем полный счет по пятницам у курящих мужчин составляет 11.386666666666668

**2)** Загрузите iris и посмотрите разбросы по всем числовым значениям для всех трёх классов цветов (датасет iris)

In [11]:
iris_df = pd.read_csv("./iris.txt")
iris_df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [12]:
iris_df["Name"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Name, dtype: int64

In [13]:
iris_names = iris_df.Name.unique().tolist()
numeric_columns = iris_df.columns.values[0:4].tolist()

for name in iris_names:
    iris_type = iris_df[iris_df["Name"] == name]
    for column in numeric_columns:
        mean = iris_type[column].mean()
        std = iris_type[column].std()
        minimum = iris_type[column].min()
        maximum = iris_type[column].max()
        print(name, column,': ', mean, '+/-', std, 'or min = ', minimum, ' max = ', maximum)
    print()

Iris-setosa SepalLength :  5.006 +/- 0.35248968721345136 or min =  4.3  max =  5.8
Iris-setosa SepalWidth :  3.418 +/- 0.38102439795469095 or min =  2.3  max =  4.4
Iris-setosa PetalLength :  1.464 +/- 0.17351115943644546 or min =  1.0  max =  1.9
Iris-setosa PetalWidth :  0.244 +/- 0.1072095030816784 or min =  0.1  max =  0.6

Iris-versicolor SepalLength :  5.936 +/- 0.5161711470638634 or min =  4.9  max =  7.0
Iris-versicolor SepalWidth :  2.7700000000000005 +/- 0.3137983233784114 or min =  2.0  max =  3.4
Iris-versicolor PetalLength :  4.26 +/- 0.46991097723995795 or min =  3.0  max =  5.1
Iris-versicolor PetalWidth :  1.3259999999999998 +/- 0.19775268000454405 or min =  1.0  max =  1.8

Iris-virginica SepalLength :  6.587999999999998 +/- 0.6358795932744322 or min =  4.9  max =  7.9
Iris-virginica SepalWidth :  2.974 +/- 0.32249663817263746 or min =  2.2  max =  3.8
Iris-virginica PetalLength :  5.5520000000000005 +/- 0.5518946956639834 or min =  4.5  max =  6.9
Iris-virginica PetalWidth :  2.0260000000000002 +/- 0.2746500556366674 or min =  1.4  max =  2.5

Или так:

In [14]:
for name in iris_names:
    iris_type = iris_df[iris_df["Name"] == name]
    print(name, '*'*20)
    for column in numeric_columns:
        print(column)
        print(iris_type[column].describe())

Iris-setosa ********************
SepalLength
count    50.00000
mean      5.00600
std       0.35249
min       4.30000
25%       4.80000
50%       5.00000
75%       5.20000
max       5.80000
Name: SepalLength, dtype: float64
SepalWidth
count    50.000000
mean      3.418000
std       0.381024
min       2.300000
25%       3.125000
50%       3.400000
75%       3.675000
max       4.400000
Name: SepalWidth, dtype: float64
PetalLength
count    50.000000
mean      1.464000
std       0.173511
min       1.000000
25%       1.400000
50%       1.500000
75%       1.575000
max       1.900000
Name: PetalLength, dtype: float64
PetalWidth
count    50.00000
mean      0.24400
std       0.10721
min       0.10000
25%       0.20000
50%       0.20000
75%       0.30000
max       0.60000
Name: PetalWidth, dtype: float64
Iris-versicolor ********************
SepalLength
count    50.000000
mean      5.936000
std       0.516171
min       4.900000
25%       5.600000
50%       5.900000
75%       6.300000
max       7.000000
Name: SepalLength, dtype: float64
SepalWidth
count    50.000000
mean      2.770000
std       0.313798
min       2.000000
25%       2.525000
50%       2.800000
75%       3.000000
max       3.400000
Name: SepalWidth, dtype: float64
PetalLength
count    50.000000
mean      4.260000
std       0.469911
min       3.000000
25%       4.000000
50%       4.350000
75%       4.600000
max       5.100000
Name: PetalLength, dtype: float64
PetalWidth
count    50.000000
mean      1.326000
std       0.197753
min       1.000000
25%       1.200000
50%       1.300000
75%       1.500000
max       1.800000
Name: PetalWidth, dtype: float64
Iris-virginica ********************
SepalLength
count    50.00000
mean      6.58800
std       0.63588
min       4.90000
25%       6.22500
50%       6.50000
75%       6.90000
max       7.90000
Name: SepalLength, dtype: float64
SepalWidth
count    50.000000
mean      2.974000
std       0.322497
min       2.200000
25%       2.800000
50%       3.000000
75%       3.175000
max       3.800000
Name: SepalWidth, dtype: float64
PetalLength
count    50.000000
mean      5.552000
std       0.551895
min       4.500000
25%       5.100000
50%       5.550000
75%       5.875000
max       6.900000
Name: PetalLength, dtype: float64
PetalWidth
count    50.00000
mean      2.02600
std       0.27465
min       1.40000
25%       1.80000
50%       2.00000
75%       2.30000
max       2.50000
Name: PetalWidth, dtype: float64

**3)** Создайте новый столбец с плотностью населения. Переименуйте названия первого и третьего столбца на русский язык

In [15]:
country_df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })

country_df.head()

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

In [16]:
country_df['density'] = (country_df.population * 1000000) / country_df.square
country_df = country_df.rename({'country': 'Страна', 'square': 'Площадь' }, axis=1)

country_df.head()

       Страна  population   Площадь    density
0  Kazakhstan       17.04   2724902   6.253436
1      Russia      143.50  17125191   8.379469
2     Belarus        9.50    207600  45.761079
3     Ukraine       45.50    603628  75.377550